header {
    text-align: center;
    font-weight: bold;
    color: maroon;
    background-color: black;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
}

#header {
    background-image: url("./picture/salon.jpg");
}

.shadow-text {
    font-size: 50px;
    color: lightcoral;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

body {
    font-family: "Itim", serif;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: border;
    font-style: initial;
    text-align: center;
    color: brown;
}

h1 {
    animation-duration: 5s;
    animation-name: appearingfromtheright;
}

@keyframes appearingfromtheright {
    from {
        margin-left: 100%;
        font-size: 48px;
    }

    75% {
        margin-left: 50%;
        font-size: 36px;
        color: darkgreen;
    }

    50% {
        margin-left: 50%;
        font-size: 36px;
        color: darkblue;
    }

    to {
        margin-left: 0;
        font-size: 24px;
    }
}

#beauty {
    transform: scale(2, 1.5);
}

h3 {
    animation-duration: 3s;
    animation-name: aboutbeautysalaon;
}

@keyframes aboutbeautysalaon {
    from {
        margin-top: 100%;
        font-size: 36px;
    }

    to {
        margin-top: 0;
        font-size: 24px;
    }
}

.navbar {
    min-width: 80vh;
    padding: 10px;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    left: 20px;
    text-align: center;
    background-color: goldenrod;
    cursor: pointer;
    transition-property: backgroud-color;
    transition-duration: 5s;
}

.navbar:hover {
    background-color: lightpink;
}

nav {
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    gap: 16px;
}

nav ul li {
    display: inline;
    font-weight: bold;
    margin-right: 30px;
}

nav ul li a{
    color: maroon;
    font-weight: bold;
}

body {
    background-color: beige;
    font-size: 20px;
    font-weight: border;
    text-align: justify;
    color: maroon;
    padding: 100px;
}

.img {
    width: 100px;
    height: 100px;
    flex-direction: row;
}

h4 {
    font-style: italic;
    display: flex;
    font-size: 20px;
    font-weight: border;
    color: brown;
    padding: 0;
    margin: 0;
}

.section {
    margin: 20px 0;
    text-align: center;
    flex-direction: column;
}

.section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 1200px) {
    .container{
        grid-template-columns: 1fr;
    }

    .gird-container {
        grid-template-columns: 1fr 1fr;
    }

    body {
        padding: 10px;
    }

    header {
        padding: 30px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .container-row {
        flex-direction: column;
        margin: 10px;
    }

    .gird-container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    /* border: 2px solid none;
    border-radius: 5px;
    background-color: none;
    padding: 20px; */
}

/* * {
    box-sizing: border-box;
} */

/* .wrapper > div { */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px; */
    /* border: 2px solid maroon;
    border-radius: 5px;
    background-color: black;
    padding: 1em;
    color: beige;
    padding: 20px; */
    /* grid-gap: 2rem; */
    /* grid-gap: 100px 1em; */
/* } */

.wrapper-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.wrapper-item2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.wrapper-item3 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.wrapper-item4 {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.wrapper-item5 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

